# Caddyfile - Becker E-commerce

becker.pscode.ia.br {
    encode gzip zstd
    reverse_proxy becker-web:3000
}

admin.becker.pscode.ia.br {
    encode gzip zstd
    reverse_proxy becker-admin:3001
    basicauth {
        admin $2a$14$SEU_HASH_BCRYPT_AQUI
    }
}
